<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/quotes.css' %}">
    <title>Quotes Page</title>
</head>
<body>
<body>
    <!-- user info -->
    <ul class="nav justify-content-end">
        <li class="nav-item"><a href="{% url 'quoteApp:quotes' %}" class='text-primary' title="all quotes">Quotes</a></span></li>
        <li class="nav-item"><a href="{% url 'quoteApp:myQuotes' id=user.id %}" class='text-primary' title="my quotes">My Quotes</a></span></li>
        <li class="nav-item"><a href="{% url 'loginApp:account' id=user.id %}" class='text-primary' title="my account">My Account</a></span></li>
        <li class="nav-item">
            <form action="{% url 'loginApp:logout' %}" method="get">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary" title="log out">Log out</button>
            </form>
        </li>
      </ul>

        <!-- wrapper -->
        <div id="my-quotes-wrapper">

            <!-- quotes -->
            {% if allQuotes %}
            <h2 class='my-quotes-header'>{{allQuotes.0.user.firstName}} {{allQuotes.all.0.user.lastName}}s' Quotes</h2>
                {% for quote in allQuotes %}
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><span class='author-name'>{{quote.author}}:</span> "{{quote.quote}}"</p>
                        </div>
                    </div>
                {% endfor %}
            {% else%}
                <div class="alert alert-warning" role="alert">No quotes have been added yet.</div>
            {% endif %}        

        </div>

</body>
</html>
